/*-- scss:defaults --*/

// Netflix color scheme
$netflix-red: #E50914;
$netflix-black: #221f1f;
$netflix-white: #ffffff;

$body-bg: $netflix-white;
$body-color: $netflix-black;
$link-color: $netflix-red;
$presentation-heading-color: $netflix-red;

/*-- scss:rules --*/

.reveal h1 {
  color: $netflix-red;
  font-weight: bold;
}

.reveal h2 {
  color: $netflix-black;
  border-bottom: 2px solid $netflix-red;
  padding-bottom: 10px;
}

.reveal .slide-background {
  background-color: $netflix-white;
}

.reveal strong {
  color: $netflix-red;
}

.reveal table {
  border: 2px solid $netflix-black;
}

.reveal table th {
  background-color: $netflix-red;
  color: $netflix-white;
}

.reveal table td {
  border: 1px solid #ddd;
}
